.chat-box {
  .v-dialog--fullscreen {
    display: flex;
    justify-content: center;
  }
  .support {
    .v-badge__badge {
      bottom: calc(100% - 17px) !important;
      left: calc(100% - -21px) !important;
    }
  }
  .btn-animation {
    animation: moveUpDown 4s infinite;
    position: absolute;
    bottom: 12rem;
    z-index: 903;
  }
  @keyframes moveUpDown {
    0% {
      transform: translateY(0);
    }
    20% {
      transform: translateY(-30px);
    }
    40% {
      transform: translateY(0);
    }
    60% {
      transform: translateY(-5px);
    }
    70% {
      transform: translateY(0);
    }
    80% {
      transform: translateY(-5px);
    }
    90% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(0);
    }
  }
  .v-overlay__content {
    position: unset !important;
  }
  .v-navigation-drawer__content {
    display: inline-flex;
    flex-direction: column-reverse;
    position: relative;
  }
  .msg-width {
    max-width: 80% !important;
  }
  .v-input__control {
    width: 100%;
  }
  .v-input {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .v-field__input {
    font-size: 0.6rem !important;
  }
  .type-box {
    position: fixed;
    bottom: 40px;
    width: 100vw;
    padding: 0px 7px;
    background-color: #ffffff;
    left: 50%;
    transform: translate(-50%, 0%);
  }
  .img-details {
    position: absolute;
    bottom: -13px;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .img-preview {
    position: absolute;
    bottom: 77px;
    border-radius: 10px 10px 0px 0px;
    width: 97%;
    left: 50%;
    transform: translate(-50%, 50%);
  }
  .msg-field {
    position: fixed;
    bottom: -50px;
    right: 50%;
    transform: translate(50%, -50%);
    width: 107%;
  }
  .image-input {
    .v-field__input,
    .v-input__control {
      display: none;
    }
    .v-input__prepend {
      margin: 0 auto;
    }
  }
}
