.navigation{
.tabs {
    letter-spacing: 0 !important;
    height: 70px !important;
  }
  .v-slide-group-item--active {
    border: none !important;
    outline: none !important;
  }
  .v-slide-group__container {
    position: fixed;
    bottom: 0px;
    width: 100%;
    background-color: white;
  }
  a {
    width: 50%;
  }
  button {
    width: 100%;
  }
}